/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

@font-face {
    font-family: 'ff-meta-web-pro';
    src: url(../fonts/ff-meta-serif-web-regular.otf);
}

@font-face {
    font-family: 'ff-meta-web-pro-italic';
    src: url(../fonts/ff-meta-serif-web-italic.otf);
}

@font-face {
    font-family: 'stratum-regular';
    src: url(../fonts/stratum2-regular.woff);
}

@font-face {
    font-family: 'stratum-bold';
    src: url(../fonts/stratum2-bold.woff);
}

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    text-rendering: optimizeLegibility;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/** General classes **/
body {
    font-family: 'ff-meta-web-pro', serif;
    color: #89898;
}

input {
    outline: none;
    border: 2px solid #CACACA;
    font-family: 'stratum-regular', sans-serif;
    color: #999999;
    font-weight: 100;
}

.wrapper {
    width: 85%;
    padding: 0;
    margin: 0 auto;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.section {
    width: 100%;
    clear: both;
}

/** Section 1 **/

.intro-section {
    text-align: center;
    background: url('../img/main-top.jpg') no-repeat;
    background-size: cover;
    color: #fff;
    height: 965px;
}

.big-logo {
    padding-top: 60px;
}

.big-logo img {
    width: 221px;
}

.brand-intro h1 {
    text-transform: uppercase;
    font-family: 'stratum-bold', sans-serif;
    font-size: 68px;
    margin-top: 10px;
}

.brand-intro h2 {
    font-family: 'ff-meta-web-pro-italic', serif;
    font-weight: 100;
    font-size: 30px;
    margin-top: -46px;
}

/** Section 2 **/

.the-workshop {
    background: url('../img/section2.jpg') no-repeat;
    background-size: cover;
}

.workshop-expl {
    float: left;
    width: 520px;
    margin-top: -120px;
    margin-left: 67px;
    background: #fff;
    border-top: 6px solid #373B43;
    padding: 20px 40px;
}

.workshop-expl p {
    color: #9B9B9B;
    font-size: 18px;
    padding-left: 20px;
    line-height: 31px;
    font-weight: 100;
}

.workshop-expl p:nth-of-type(2) {
    margin-top: -25px;
}

.workshop-expl h2 {
    font-family: 'stratum-bold', sans-serif;
    font-size: 32px;
    color: #373B43;
    margin-top: 0px;
}

.workshop-expl h2:nth-of-type(2) {
    font-size: 52px;
}

/** Section 3 **/

.whos-for {
    background: url('../img/section3.jpg') no-repeat;
    background-size: cover;
}

.whos-for .wrapper {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.whosfor-expl {
    width: 520px;
    margin-right: 66px;
    margin-top: 174px;
    background: #fff;
    border-top: 6px solid #373B43;
    padding: 20px 41px 20px 39px;
}

.whosfor-expl h2 {
    font-family: 'stratum-bold', sans-serif;
    font-size: 52px;
    color: #373B43;
    margin-top: 0px;
}

.whosfor-expl p {
    color: #9B9B9B;
    font-size: 18px;
    padding-left: 20px;
    line-height: 31px;
    font-weight: 100;
    margin-top: -25px;
}

/** Section 4 **/

.what-learn {
    background: url('../img/section4.jpg') no-repeat;
    background-size: cover;
}

.whatlearn-expl {
    width: 520px;
    padding: 20px 40px;
    margin-top: 168px;
    margin-left: 67px;
    float: left;
    background: #fff;
    border-top: 6px solid #373B43;

}

.whatlearn-expl h2 {
    color: #373B43;
    font-family: 'stratum-bold', san-serif;
    font-size: 52px;
    margin-top: 0;
}

.whatlearn-expl p {
    color: #9B9B9B;
    font-size: 18px;
    padding-left: 20px;
    line-height: 31px;
    font-weight: 100;
    margin-top: -25px;
}

.whatlearn-expl h3 {
    font-family: 'stratum-regular', sans-serif;
    font-size: 29px;
    font-weight: 100;
    color: #373B43;
    padding-top: 10px;
}

.whatlearn-expl ul {
    margin-bottom: 80px;
    padding-top: 9px;
    color: #9B9B9B;
    font-size: 18px;
    line-height: 31px;
}

/** Section 5 **/

.registeration {
    height: 965px;
    display: table;
    color: #373B43;
    clear: both;
    width: 100%;
}

.credits {
    width: 21.05%;
    float: left;
    background: #E3631F;
    padding: 40px 25px 40px 40px;
    height: 965px;
}

.credits h3 {
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    font-family: 'stratum-regular', sans-serif;
    font-weight: 100;
}

.credits h3:nth-of-type(2) {
    padding-top: 58px;
}

.paradox-brand {
    width: 215px;
}

.credits p {
    color: #fff;
    font-size: 14px;
    line-height: 23px;
    margin-top: -6px;
    margin-bottom: 30px;
}

.credits ul {
    list-style: none;
    padding-left: 0px;
}

.credits li {
    display: inline-block;
    padding-right: 28.5px;
}

.social-contacts img {
    width: 49px;
}

.copyright-contact {
    margin-top: 84px;
    color: #fff;
    font-size: 14px;
}

.copyright-contact a {
    color: #fff;
    text-decoration: none;
    margin-left: 10px;
}

.copyright-contact p {
    margin-bottom: 2px;
}

.share {
    width: 26.5%;
    border-top: 6px solid #373B43;
    float: left;
    padding: 72px 25px 40px 40px;
    font-family: 'stratum-bold', sans-serif;
    margin-left: 2px;
}

.investment {
    background: url(../img/icon-investment.png) no-repeat;
}

.investment p {
    line-height: 22px;
    padding-left: 44px;
    font-size: 18px;
    padding-top: 1px;
}

.time p {
    margin-top: 30px;
    padding-left: 44px;
    line-height: 20px;
    font-size: 18px;
}

.price {
    font-family: 'stratum-regular', sans-serif;
    margin-top: -19px;
}

p.description {
    font-family: 'ff-meta-web-pro-italic', serif;
    font-weight: 100;
    font-size: 14px;
    margin-top: -16px;
}

.time {
    background: url(../img/icon-time.png) no-repeat;
}

.share-buttons {
    text-transform: uppercase;
    font-size: 22px;
    margin-top: 61px;
}

.share-buttons a {
    text-decoration: none;
    color: inherit;
}

.share-twitter:hover, .share-fb:hover {
    color: #fff;
    background: #373b43;
}

.share-twitter, .share-fb {
    width: 74.5%;
    border: 3px solid #373b43;
    padding: 13px;
    text-align: center;
    margin-bottom: 30px;
}

.register-form {
    width: 44.5%;
    float: right;
    margin-left: -1px;
}

.form-title {
    border-top: 6px solid #373B43;
    padding-top: 30px;
}

.forme span {
    color: #790000;
}

.form-title p {
    font-family: 'stratum-regular', sans-serif;
    font-size: 30px;
    text-transform: uppercase;
}

.form-title h1 {
    font-family: 'stratum-bold', sans-serif;
    text-transform: uppercase;
    font-size: 50px;
    line-height: 42px;
    margin-bottom: 50px;
    margin-top: -30px;
}

.steps {
    font-family: 'stratum-regular', sans-serif;
    margin-top: -4px;
    margin-left: -1px;
}

.step-num1, .step-num2 {
    font-size: 24px;
    font-family: arial, sans-serif;
}

.step-num2, .step-2 {
    opacity: 0.2;
}

.step-1, .step-2 {
    font-size: 18px;
    font-weight: 100;
    margin-right: 18px;
    display: inline-block;
    vertical-align: text-bottom;
}

.forme {
    margin-top: 28px;
    font-weight: bold;
    font-size: 18px;
}

.name {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-top: 1px;
}

.first-name, .last-name {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.last-name {
    margin-right: 8px;
}

.forme input {
    margin-top: 14px;
    margin-bottom: 25px;
    line-height: 22px;
    padding: 10px 14.5px;
    width: 88%;
}

.name input {
    width: 302.5px;
}

.phone input {
    margin-bottom: 24px;
}

.company-name input, .profession input {
    margin-top: 14.5px;
}

.register-form button {
    margin-top: 7px;
    border: 2px solid #DD4D0A;
    color: #DD4D0A;
    padding: 9px 30px;
    font-family: 'stratum-regular', sans-serif;
    font-weight: 100;
    font-size: 18px;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media only screen and (max-width: 1368px) {
    /* Style adjustments for viewports that meet the condition */
    .share {
        width: 24.5%;
        padding-right: 29px;
    }

    .name input {
        width: 80%;
    }
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
